@charset "utf-8";
Songs {background-color:#000; width:100%; text-align:center;} 
Heading {color:#f00; font-size:40px; font-weight:bold;} 
Heading, Song Artist, Song Title, Song Genre, Song Year {display:block;}
Song Artist, Song Title, Song Genre, Song Year {font-size:20px; color:#0f0;}

